# Environment files
notebooks/jeroenvdmbrugge/.env
.ipynb_checkpoints
.DS_Store
.venv

# Project directories
aiadventuregame/
langchain/

# Temporary files and folders
__pycache__/
.vscode/
test.ipynb
