# Environment files
.env
.ipynb_checkpoints
.DS_Store
.venv
.idea

# Project directories
aiadventuregame/
langchain/
plans/

# Temporary files and folders
__pycache__/
.vscode/
.pytest_cache/
test.ipynb


