
.env               
.ipynb_checkpoints    
.DS_Store          
.venv                
.idea                

__pycache__/        
.vscode/            
test.ipynb          

# MacOS specific
.DS_Store           
*.pyc              