# Environment files    
.env       
.ipynb_checkpoints   
.DS_Store             
.venv               
.idea                 

# Project directories
__pycache__/         
.vscode/            
test.ipynb           
# MacOS specific
.DS_Store            
*.pyc               